<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="AppDirect.WindowsClient.MainApplication" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/MainApplication" binding="netNamedPipeBinding"
                bindingConfiguration="AppDirect.WindowsClient.MainApplication"
                contract="AppDirect.WindowsClient.Common.API.IMainApplication" name="AppDirect.WindowsClient.MainApplication">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>