<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="AppDirect.WindowsClient.MainApplication" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/MainApplication" binding="netNamedPipeBinding"
                bindingConfiguration="AppDirect.WindowsClient.MainApplication"
                contract="MainApp.IMainApplication" name="AppDirect.WindowsClient.MainApplication">
                <identity>
                    <userPrincipalName value="macpro\Artem" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>