[Tt]humbs.db
*.DS_Store
*.~*
*.suo
*.orig
*.cs.orig
*.[Oo]bj
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.ipch
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.tmp
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.sln.DotSettings.user
*.DotSettings.user
*.DotSettings
*.user
ipch
obj
[Bb]in
[Dd]ebug*
[Rr]elease*
x64
[Pp]resentation[Cc]ore.pdb/
Ankh.NoLoad
main/AppDirectClient/AppDirectClient.IsolatorCache.user
main/AppDirectClient/AppDirectClient.sln.DotSettings.user
main/AppDirectClient/Setup/AppDirectClient/
main/AppDirectClient/Setup/64Bit
main/AppDirectClient/Setup/32Bit
main/AppDirectClient/Setup/AppDirectClientInstaller.exe
main/AppDirectClient/Setup/AppDirectClient.exe
main/AppDirectClient/Setup/updater.exe
main/AppDirectClient/Setup/build_uninstaller.exe
main/AppDirectClient/Setup/uninstall.exe
main/AppDirectClient/Setup/version.txt
main/AppDirectClient/bin/Result
TestResults
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.xap
[Cc]lient[Bb]in/
*.cd
*.psess
*.vsp