*.~*
*.suo
*.orig
*.cs.orig
bin
obj
Debug
Release
main/Appy/Appy.sln.DotSettings.user
main/Appy/Setup/Appy/
main/Appy/Setup/Appy.exe
main/Appy/Setup/updater.exe
main/Appy/Setup/build_uninstaller.exe
main/Appy/Setup/uninstall.exe
*.sln.DotSettings.user
*.DotSettings.user
*.DotSettings
*.user
TestResults
main/Appy/Setup/version.txt
