*.~*
*.suo
*.orig
*.cs.orig
bin
obj
Debug
Release
main/Appy/Appy.sln.DotSettings.user
main/Appy/Setup/Appy/
main/Appy/Setup/Appy.exe
*.sln.DotSettings.user
*.DotSettings.user
*.DotSettings
*.user
TestResults
