<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.pipe://localhost/BrowsersManagerApi" binding="netNamedPipeBinding" bindingConfiguration="customBinding" contract="AppDirect.WindowsClient.Common.API.IBrowsersManagerApi" name="AppDirect.WindowsClient.BrowsersManagerApi" />
      <endpoint address="net.pipe://localhost/BrowsersManagerApi" binding="netNamedPipeBinding" bindingConfiguration="AppDirect.WindowsClient.Browser.API.BrowsersManagerApi" contract="BrowsersApi.IBrowsersManagerApi" name="AppDirect.WindowsClient.Browser.API.BrowsersManagerApi">
        <identity>
          <userPrincipalName value="tina.jensen@appdirect.net" />
        </identity>
      </endpoint>
    </client>
    <services>
      <service name="AppDirect.WindowsClient.MainApplication" behaviorConfiguration="ServiceThrottlingBehavior">
        <endpoint address="" binding="netNamedPipeBinding" bindingConfiguration="customBinding" name="AppDirect.WindowsClient.MainApplication" contract="AppDirect.WindowsClient.Common.API.IMainApplication"></endpoint>
        <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/MainApplication" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netNamedPipeBinding>
        <binding name="customBinding" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" />
        <binding name="AppDirect.WindowsClient.Browser.API.BrowsersManagerApi" />
      </netNamedPipeBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
        <behavior name="ServiceThrottlingBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceThrottling maxConcurrentCalls="2147483647" maxConcurrentInstances="2147483647" maxConcurrentSessions="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
    <supportedRuntime version="v4.0"/>
  </startup>
  <appSettings>
    <add key="GoogleAnalyticsAccountCode" value="UA-33544164-4"/>
  </appSettings>  
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "c:\Traces0.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->
</configuration>
